<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">
	<select id="getList" resultType="TodoDto">
		SELECT num, content, regdate
		FROM todo
		ORDER BY num ASC
	</select>
	<insert id="insert" parameterType="string">
		INSERT INTO todo
		(num, content, regdate)
		VALUES(todo_seq.NEXTVAL, #{content}, SYSDATE)
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM todo
		WHERE num = #{num}
	</delete>
</mapper>